<div class="container">
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
		<ul class="nav">
			<% if user_signed_in? %>
				<h2 class="cart">Корзина</h2>
				<% current_user.carts.where(shop: @shop).first_or_create %>
				<p class="active">				
						<%= render current_user.carts.where(shop: @shop).first.dish_carts %>
				</p>
				<div>Итого: <span id="total_price"><%= current_user.carts.where(shop: @shop).first.total_price %></span></div>
				<% if can? :destroy, Cart %>
					<div><%= button_to 'Отправить заказ', cart_path(current_user.carts.where(shop: @shop).first), remote: true, method: :delete, class: "btn btn-primary" %></div>
				<% end %>		
			<% end %>		
		</ul>
	</div>
	<div class="col-md-9">		
		<div class="row">
			<h1 class="center"><strong><%= @shop.title %></strong></h1>
			<p class="center"><strong><%= @shop.description %></strong></p>			
		</div>
			<div>			
				<% @dishes.each do |dish| %>
					<div class="col-md-4">
						<div class="thumbnail" style="height:320px">
							<%= image_tag dish.image.url, size: '230x230' %>
							<div>
								<h6 class="block"><%= link_to dish.title, dish %>, <%= dish.price %> сом</h6>
							</div>
							<div class="attach_to_right_bottom">
							<% if (user_signed_in?) && (can? :manage, DishCart) %>
								<p><%= button_to "Add to cart", dish_dish_carts_path(dish), remote: true, method: :post, class: "btn btn-primary add-dish-to-cart", :form => { :id => dish.id } %></p>
							<% end %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
