<div class="container">

	<h1>Блюда заказа</h1>

	<table class="table">
		<tr>
			<th>Номер блюда</th>
			<th>Наименование блюда</th>
			<th>Стоимость блюда</th>
			<th>Количество порций</th>
			<th>Итого</th>
		</tr>
		<% @order.order_items.each_with_index do |item, index| %>
		<tr>	
			<td><%= index+1 %></td>
			<td><%= item.dish.title %></td>
			<td><%= item.price %></td>
			<td><%= item.portion %></td>
			<td><%= item.price * item.portion %></td>
		</tr>
		<% end %>
	</table>

</div>

